/buildSrc/buildSrc.iml
/buildSrc/build
/buildSrc/.gradle
.gradle/
.idea/
build/
example-resource.iml
node_modules/
readme.html
settings.gradle
src/main/resources/static/components
src/main/resources/documentation/*.html
